:root {
    --dark-blue: #004b77;
    --dark-blue-90: #004b77e5;
    --dark-blue-70: #004b77b2;
    --light-blue: #baf6ff;
    /* --light-blue-50: #c8edff7f; */
    /* --bg-light-blue: #62a5bf; */
    --bg-light-blue-20: #62a5bf33;
    /* --bg-dark-blue: #2a7296; */
    --bg-black: #252525;
    --bg-dark-blue-70: #2a7296b3;

    --hd-dark-blue: #002c46ff;
    --hd-mid-blue: #0066cc;
    --white: #ffffffff;
}

[data-theme='light'] {
    --dark-blue: #004b77;
    --dark-blue-90: #004b77e5;
    --dark-blue-70: #004b77b2;
    --light-blue: #baf6ff;
    --light-blue-50: #c8edff7f;
    --bg-light-blue: #62a5bf;
    --bg-light-blue-20: #62a5bf33;
    --bg-dark-blue: #2a7296;
    --bg-black: #252525;
    --bg-dark-blue-70: #2a7296b3;

    --hd-dark-blue: #002c46ff;
    --hd-mid-blue: #0066cc;
    --white: #ffffffff;
}

[data-theme='dark'] {
    --dark-blue: #9ad7ff;
    --dark-blue-90: #9ad7ffe5;
    /* --dark-blue-70: #9ad7ffb2; */
    /* --light-blue: #baf6ff; */
    --light-blue: #39738c;
    --light-blue-50: #222f48bf;
    /* --bg-light-blue: #62a5bf; */
    /* --bg-light-blue-20: #62a5bf33; */
    /* --bg-dark-blue: #2a7296; */
    /* --bg-black: #252525; */
    /* --bg-dark-blue-70: #2a7296b3; */

    --hd-dark-blue: #9ad7ff;
    /* --hd-mid-blue: #0066cc; */
    --white: #222f48;
}

/* *********************
 * VUE DEFAULT CSS
 * *********************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* *********************
 * CUSTOM CSS
 * *********************/

@font-face {
    font-family: entsans;
    src: url('./fonts/entsans.ttf');
}

@font-face {
    font-family: LiberationMono; src: url('./fonts/LiberationMono-Bold.ttf');
}

@font-face {
    font-family: HussarBold;
    src: url('./fonts/HussarBold-7mRE.otf');
}
