:root {
    --bg-black: #252525;
}

[data-theme='light'] {
    --dark-blue: #004b77;
    --dark-blue-90: #004b77e5;
    --dark-blue-70: #004b77b2;
    --dark-blue-50: #004b777f;
    --light-blue: #baf6ff;
    --light-blue-50: #c8edff7f;
    --bg-light-blue: #62a5bf;
    --bg-light-blue-20: #62a5bf33;
    --bg-dark-blue: #2a7296;
    --bg-dark-blue-70: #2a7296b3;

    --hd-dark-blue: #002c46ff;
    --hd-mid-blue: #0066cc;
    --white: #ffffffff;

    --wall-strt-grd: #004b77;
    --wall-end-grd: #baf6ff;

    --title-clr: #ffffffff;
    --title-shdw: #0e2939;

    --link-clr: #0066cc;

    /* prism colors */
    --pr-pre-class-lang: #657b83;
    --pr-bg: #c4faff;
    --pr-bg-border: #002c46ff;
    --pr-tk-prolog: #93a1a1;
    --pr-tk-punc: #586e75;
    --pr-tk-tag: #268bd2;
    --pr-tk-numb: #268bd2;
    --pr-tk-string: #2aa198;
    --pr-tk-var: #cb4b16;
    --pr-tk-func: #b58900;
    --pr-tk-keyw: #859900;
    --pr-tk-regex: #cb4b16;
}

[data-theme='dark'] {
    --dark-blue: #9ad7ff;
    --dark-blue-90: #9ad7ffe5;
    --dark-blue-70: #9ad7ffb2;
    --dark-blue-50: #092c6e7f;
    --light-blue: #39738c;
    --light-blue-50: #222f48bf;
    --bg-light-blue: #4b8aa1;
    /* --bg-light-blue-20: #62a5bf33; */
    --bg-dark-blue: #264567;
    /* --bg-dark-blue-70: #2a7296b3; */

    --hd-dark-blue: #9ad7ff;
    /* --hd-mid-blue: #0066cc; */
    --white: #222f48;

    --wall-strt-grd: #39738c;
    --wall-end-grd: #194a66;

    --title-clr: #c5e8ff;
    --title-shdw: #222f48;

    --link-clr: #cca700;

    /* prism colors */
    --pr-pre-class-lang: #f8f8f2;
    --pr-bg: #002c46ff;
    --pr-bg-border: #c4faff;
    --pr-tk-prolog: #8292a2;
    --pr-tk-punc: #f8f8f2;
    --pr-tk-tag: #f92672;
    --pr-tk-numb: #ae81ff;
    --pr-tk-string: #a6e22e;
    --pr-tk-var: #f8f8f2;
    --pr-tk-func: #e6db74;
    --pr-tk-keyw: #66d9ef;
    --pr-tk-regex: #fd971f;
}

/* *********************
 * VUE DEFAULT CSS
 * *********************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* *********************
 * CUSTOM CSS
 * *********************/

@font-face {
    font-family: entsans;
    src: url('./fonts/entsans.ttf');
}

@font-face {
    font-family: LiberationMono; src: url('./fonts/LiberationMono-Bold.ttf');
}

@font-face {
    font-family: HussarBold;
    src: url('./fonts/HussarBold-7mRE.otf');
}
